@charset "UTF-8";

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  src:url("SourceSansPro-Regular.otf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  src:url("SourceSansPro-Bold.otf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: normal;
  src:url("SourceSansPro-It.otf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: bold;
  src:url("SourceSansPro-BoldIt.otf");
}

/* Basic Styles */
body {
  text-align: justify; /* Justify all text */
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/* Headings */
h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: inherit;
}

h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 400;
  line-height: 1.2;
  color: inherit;
}

h1 { font-size: 2.5rem }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1.0rem; }

/* Paragraphs */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Lists */
ul, ol {
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
}

/* Links */
a {
  color: #2780e3;

}
a:hover {
  color: #2780e3;
}

/* Blockquote */
blockquote {
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  border-left: 0.25rem solid #e9ecef;
  background-color: #f8f9fa;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td {
  padding: 0.75rem;
  border: 1px solid #dee2e6;
}

thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

tbody + tbody {
  border-top: 2px solid #dee2e6;
}

/* Code */
pre,
code {
  font-family: "Consolas", monospace;
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: break-word;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;
}

code {
  font-size: 0.875em;
  word-wrap: break-word;
  overflow-wrap: break-word
}
a > code {
  color: inherit;
}



/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Forms */
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border-radius: 0.375rem;
  background-color: #2780e3;
  color: #fff;
  padding: 0.375rem 0.75rem;
  border: none;
}

button:hover {
  background-color: #1f66b6;
}

/* Utilities */
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
