
[class$="-label"], h3 {
  font-weight: bold;
  line-height: 2em !important;
}

[class$="-label"]::before{
  content:"\a";
  white-space: pre;
}

p {
  display: inline;
}

.gloss-term-all {
  color: #1d1d1d !important;
  display: inline; 
  line-height: normal;
  word-break: break-word;
}